<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Furever Home</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Lora|Playfair+Display" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="shortcut icon" href="../favicon.ico">
</head>

<body class="proBod">
  <header class="profHead">
    <img src="img/fhtext.png" alt="logo">
    <a href="/prefrences">update prefrences</a>
    <a href="logout">logout</a>
    <section>
      <i class="fas fa-bookmark"></i>
    </section>
  </header>
  <section>
    <img src="img/sadpup.jpeg" alt="adoptable" class="adoptable">
    <section class="status">
      <i class="fas fa-heart"></i>
      <i class="fas fa-heart-broken"></i>
    </section>
  </section>
</body>

</html>

<!-- <!doctype html>
<html>

<head>
  <title>Furever Home</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Lora|Playfair+Display" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="shortcut icon" href="../favicon.ico">
</head> -->

<!-- <body>
  <div class="container">

    <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span> Profile Page</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

      LOCAL INFORMATION
      <!  <div class="col-sm-6">
        <div class="well">
          <h3><span class="fa fa-user"></span> Local</h3>

          <% if (user.local.email) { %>
          <p>
            <strong>id</strong>:
            <%= user._id %><br>
            <strong>email</strong>:
            <%= user.local.email %><br>
            <strong>password</strong>:
            <%= user.local.password %>
          </p> -->

<!-- <a href="/unlink/local" class="btn btn-default">Unlink</a>
          <% } else { %>
          <a href="/connect/local" class="btn btn-default">Connect Local</a>
          <% } %>

        </div>
      </div>
      <div class="col-sm-6">
        <h3>Messages</h3>
        <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
          <li class="message">
            <span>
              <%= messages[i].name %></span>
            <span>
              <%= messages[i].msg %></span>
            <span> -->
<!-- <%= messages[i].thumbUp %></span>
            <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
            <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
            <span><i class="fa fa-trash" aria-hidden="true"></i></span>
          </li>
          <% } %>
        </ul> -->

<!-- <h2>Add a message</h2>
        <% if (user.local.email) { %>
        <form action="/messages" method="POST">
          <input type="text" value="<%= user.local.email %>" name="name">
          <input type="text" placeholder="message" name="msg">
          <button type="submit">Submit</button>
        </form>
      </div>
      <% } %>

    </div>

    <script src="main.js"></script>

</body>

</html> -->